
/*   HELPERS    */
*{
  /*outline: 3px solid red;*/
}

body {
  background-color: yellow;
}
@media screen and (min-width: 600px) {
  body {
    background-color: orange;
  }
}

/*   LAYOUT    */

.full-height {
  min-height: 100vh;
}
.astronaut {
  background-color: coral;
}
.text-page {
  background-color: seagreen;
}

/*   ASTRONAUT    */
.astronaut {
    background-image: url('assets/photos/astronaut.jpg');
    background-size: cover;
    background-position: 50% 50%;
}

.astronaut .heading-box {
border: 4px solid black;
width: 10rem;
background-color: rgba(255, 255, 255, 0.7);
position: absolute;
top: 80px;
left:40px;
padding: 20px;
font-family: 'Rubik', sans-serif;
}
.astronaut .heading-box .text {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;
}
/*   DESKTOP    */

@media screen and (min-width:  800px) {
  .astronaut .heading-box {
    width: 15rem;
  }
  .astronaut .heading-box .link {
    text-align: right;
    cursor: pointer;
  }
  
  .astronaut .heading-box .link span {
    position: relative;
    left: 0px;
    transition: left 0.5s cubic-bezier(0.65, 0, 0.35, 1);

  }
  
  .astronaut .heading-box .link:hover span {
      left: 10px;
  }
 
}
 /*   DARK MODE    */
 /*@media (prefers-color-scheme: dark) {
  .astronaut .heading-box .link {
    color: red;
  }
}*/